{% load static %}

{% block body %}

{% include 'navigation.html' %}


<marquee style = "font-family : 'Monotype Corsiva'; font-size : 25px ;color : darkcyan ; background-color : black;font-weight : bold ; margin-top:1%">
    Admin Login
</marquee>
<hr> 

<form class = "container mt-5" method="post">
    {% csrf_token %}
    <label><b>UserName</b></label>
    <input type="text" class="form-control" name= "userName" placeholder= " Enter UserName">

    <label><b>Password</b></label>
    <input type="Password" class="form-control" name= "pwd" placeholder= " Enter Password">

    <input type="Submit" class="btn btn-primary" style="margin-top:2% ; color:darkcyan ; background-color : black; height: 40px; font-size : 15px">

</form>
{% if error == "yes" %}
<script>
    alert("Login Successfull");
    window.location = ('{% url 'admin_home' %}')
</script>
{% endif %}

{% if error == "no" %}
<script>
    alert("Invalid Login Credentials,Try Again..."); 
</script>
{% endif %}
{% endblock %}