{% load static %}

{% block body %}

{% include 'navigation.html' %}

<style>
    .container{
     max-width : 90%   
    }


    .content{
    position : absolute;
    text-align : center;
    bottom :0%;
    background:rgba(0,0,0,0.5);
    color: white;
    height:30px;
    width:90%
    }
</style>


<div class= "container-fluid" style="margin-top:1%">
    <img src = "{% static 'images/portal5.jpg'%}" style = "height:450px;width:100%">
    
</div>

<div class="container-fluid" style = "background-color:black ; height:570px ;margin-top:3%">
<h1 class=" text-centre text-white">----------|  OUR PLACED STUDENTS |----------</h1>

    <div class="row mt-3">
        <div class="col-md-3 ">
            <img src="{% static 'images/f.jpeg'%}" style="width:100%; margin-top:5%; height :200px; border-radius:50%" >
            <div class = "content" style="height:30px:width:80%">
            <p> Facebook</p>
            </div>
        </div>
        
        <div class="col-md-3 ">
            <img src="{% static 'images/f2.jpeg'%}" style="width:100%; margin-top:5%; height :200px; border-radius:50%" >
            <div class = "content" style="height:30px:width:80%">
            <p> Facebook</p>
            </div>
        </div>

        <div class="col-md-3">
            <img src="{% static 'images/f4.jpeg'%}" style="width:100%; margin-top:5%; height :200px; border-radius:50%" >
            <div class = "content" style="height:30px:width:80%">
            <p> Facebook</p>
            </div>
        </div>

        <div class="col-md-3 pl-4" >
            <img src="{% static 'images/f5.png'%}" style="width:100%; margin-top:5%; height :200px; border-radius:50%" >
            <div class = "content" style="height:40px:width:80%">
            <p> Amazon</p>
            </div>
        </div>
        
     </div> 

     <div class="row mt-3">
        <div class="col-md-3 ">
            <img src="{% static 'images/f9.jpeg'%}" style="width:100%; margin-top:5%; height :200px; border-radius:50%" >
            <div class = "content" style="height:30px:width:80%">
            <p> linkedIn</p>
            </div>
        </div>
        
        <div class="col-md-3 ">
            <img src="{% static 'images/f1.jpeg'%}" style="width:100%; margin-top:5%; height :200px; border-radius:50%" >
            <div class = "content" style="height:30px:width:80%">
            <p> Infosys</p>
            </div>
        </div>

        <div class="col-md-3">
            <img src="{% static 'images/f3.jpeg'%}" style="width:100%; margin-top:5%; height :200px; border-radius:50%" >
            <div class = "content" style="height:30px:width:80%">
            <p> Amazon</p>
            </div>
        </div>

        <div class="col-md-3 pl-4" >
            <img src="{% static 'images/f6.jpeg'%}" style="width:100%; margin-top:5%; height :200px; border-radius:50%" >
            <div class = "content" style="height:40px:width:80%">
            <p> HCL
            </div>
        </div>

     
</div>

{% include 'footer.html' %}

{% endblock %}